<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>File Management</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}">

    </head>
    <body>
        <h1>Welcome to the File Management Page</h1>
        <a href="/" class="back-button"> < </a>

        <div class = "box">
            <a href="{{ url_for('upload_file', token=token) }}" class="upload_file"> <button>Upload a file</button> </a>
            <a href="{{ url_for('download_file', token=token) }}" class ="download_file"> <button>Download a file</button> </a>         
        </div>
    
    </body>
</html>
